<article>
  <form
    class="form"
    [formGroup]="formularioRegistro"
    (ngSubmit)="handleSubmint()"
  >
    <h2 class="formTitle">Registrate</h2>
    <p class="formP">¿Ya cuentas con una cuenta?</p>
    <a routerLink="/login" class="formLink">Ingresa aquí</a>

    <div class="formContainer">
      <div class="formGroup">
        <input
          required
          type="text"
          id="name"
          class="formInput"
          placeholder=" "
          name="fullName"
          formControlName="fullName"
        />
        <label for="name" class="fomrLabel">Nombre:</label>
        <span class="formLine"></span>
      </div>
      <div class="formContainer">
        <div class="formGroup">
          <input
            required
            type="text"
            id="email"
            class="formInput"
            placeholder=" "
            name="email"
            formControlName="email"
          />
          <label for="email" class="fomrLabel">Email:</label>
          <span class="formLine"></span>
        </div>
      </div>
      <div class="formContainer">
        <div class="formGroup">
          <input
            required
            type="text"
            id="password"
            class="formInput"
            placeholder=" "
            name="password"
            formControlName="password"
          />
          <label for="password" class="fomrLabel">Contraseña:</label>
          <span class="formLine"></span>
        </div>
      </div>

      <button type="submit" class="formSubmit">!REGISTRATE!</button>
    </div>
  </form>
</article>
